[submodule "ring"]
	path = ring
	url = git@github.com:Eclipse-Laboratories-Inc/ring.git
[submodule "zk-rand"]
	path = zk-rand
	url = git@github.com:Eclipse-Laboratories-Inc/zk-rand.git
[submodule "zk-ahash"]
	path = zk-ahash
	url = git@github.com:Eclipse-Laboratories-Inc/zk-ahash.git
[submodule "zk-getrandom"]
	path = zk-getrandom
	url = git@github.com:Eclipse-Laboratories-Inc/zk-getrandom.git
[submodule "zk-solana-bpf-loader-program-2.1.0"]
	path = zk-solana-bpf-loader-program-2.1.0
	url = git@github.com:Eclipse-Laboratories-Inc/zk-solana-bpf-loader-program-2.1.0.git
